[Unit]
Description=LocalNetworkProtector Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/LocalNetworkProtector
ExecStart=/opt/LocalNetworkProtector/venv/bin/python3 -u /opt/LocalNetworkProtector/lnp_main.py --config config.yaml
Restart=always
RestartSec=5

# Environment variables
Environment=PYTHONUNBUFFERED=1

# Output logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
